<footer id="footer" class="footer">
  <div class="copyright">
    <span
      >© <%= config.author %> | Powered by
      <a href="https://hexo.io" rel="external nofollow" target="_blank">Hexo</a>
      &
      <a
        href="https://github.com/Siricee/hexo-theme-Chic"
        rel="external nofollow"
        target="_blank"
        >Chic</a
      ></span
    >
  </div>
</footer>
